<div class="container" (window:resize)="onResize($event)">

    <div class="o-card-container " #container>
        <div class="o-placeholder--multi_selection">
            <app-multi-selection-bar></app-multi-selection-bar>
        </div>
        <app-card-item #parent>
            <div class="o-card-view__item" #card>
                <div class="c-card c-card--selectable">
                    <i class="c-card__top-icons c-card__top-icons--on icon__n icon__n--visibility"></i>
                    <i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert" (click)="parent.openCardMenu($event)"></i>
                    <div class="c-card__figure">
                        <span class="c-avatar c-avatar--autosize c-avatar--circle">
                  <figure>
                    <img src="http://lorempixel.com/160/160/people/6" alt="">
                  </figure>
                </span>
                        <span class="c-card__kind-icon">
                  <i class="icon__n icon__n--audiotrack"></i>
                  <i class="icon__n icon__n--movie"></i>
                </span>
                    </div>
                    <a href="#"><strong class="c-card__name">12. Uluslararası D-Marin Klasik Müzik Festivali</strong></a>

                    <ul class="c-card__metas">
                        <li><strong>16 - 18</strong> Mayıs 2015</li>
                        <li>Uçhisar, Kapadokya</li>
                    </ul>

                    <div class="c-card-selectable-content">
                        <ul class="c-card__metas">
                            <li><button href="" class="btn btn-primary btn-block">DÜZENLE</button></li>
                        </ul>
                        <div class="o-placeholder--checkbox">
                            <app-checkbox></app-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-card-view__item" #card>
                <div class="c-card">
                    <i class="c-card__top-icons c-card__top-icons--on icon__n icon__n--visibility"></i>
                    <i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert" (click)="parent.openCardMenu($event)"></i>
                    <div class="c-card__figure">
                        <span class="c-avatar c-avatar--autosize c-avatar--circle">
                  <figure>
                    <img src="http://lorempixel.com/160/160/people/8" alt="">
                  </figure>
                </span>
                        <span class="c-card__kind-icon">
                  <i class="icon__n icon__n--audiotrack"></i>
                  <i class="icon__n icon__n--movie"></i>
                </span>
                    </div>
                    <a href="#"><strong class="c-card__name">12. Uluslararası D-Marin Klasik Müzik Festivali</strong></a>

                    <ul class="c-card__metas">
                        <li><strong>16 - 18</strong> Mayıs 2015</li>
                        <li>Uçhisar, Kapadokya</li>
                    </ul>

                    <div class="c-card-selectable-content">
                        <ul class="c-card__metas">
                            <li><button href="" class="btn btn-primary btn-block">DÜZENLE</button></li>
                        </ul>
                        <div class="o-placeholder--checkbox">
                            <app-checkbox></app-checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-card-view__item" #card>
                <div class="c-card c-card--selectable c-card--selectable--selected">
                    <i class="c-card__top-icons c-card__top-icons--on icon__n icon__n--visibility"></i>
                    <i class="c-card__top-icons c-card__top-icons--right icon__n icon__n--more_vert" (click)="parent.openCardMenu($event)"></i>
                    <div class="c-card__figure">
                        <span class="c-avatar c-avatar--autosize c-avatar--circle">
                  <figure>
                    <img src="http://lorempixel.com/160/160/people/4" alt="">
                  </figure>
                </span>
                        <span class="c-card__kind-icon">
                  <i class="icon__n icon__n--audiotrack"></i>
                  <i class="icon__n icon__n--movie"></i>
                </span>
                    </div>
                    <a href="#"><strong class="c-card__name">12. Uluslararası D-Marin Klasik Müzik Festivali</strong></a>

                    <ul class="c-card__metas">
                        <li><strong>16 - 18</strong> Mayıs 2015</li>
                        <li>Uçhisar, Kapadokya</li>
                    </ul>

                    <div class="c-card-selectable-content">
                        <ul class="c-card__metas">
                            <li><button href="" class="btn btn-primary btn-block">DÜZENLE</button></li>
                        </ul>
                        <div class="o-placeholder--checkbox">
                            <app-checkbox></app-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </app-card-item>

        <div class="o-card-view__footer">
            <div class="row">
                <div class="col-lg-1">
                    <div class="o-pageselect">
                        <div class="c-selectbox">
                            <div class="c-selectbox__field">
                                <select>
                              <option>10</option>
                              <option>11</option>
                          </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-15 text-lg-center">
                    <app-pagination></app-pagination>
                </div>
            </div>
        </div>
    </div>
</div>