<div class="c-context-menu">

	<div class="c-context-menu__header">
		<div class="c-context-menu__header-title">
		DİĞER İÇERİKLER
		</div>
		<i class="c-context-menu__close-button icon__n icon__n--close" (click)="tetherService.dismiss()"></i>
	</div>

	<div class="c-context-menu__content">

		<ul class="c-context-menu__list">
		<li class="c-context-menu__list-item">
			<i class="c-context-menu__list-item-icon icon__n icon__n--attach_money"></i>
			<span class="c-context-menu__list-item-label">Sponsorlar</span>
		</li>
		<li class="c-context-menu__list-item">
			<i class="c-context-menu__list-item-icon icon__n icon__n--local_offer"></i>
			<span class="c-context-menu__list-item-label">Kategoriler</span>
		</li>
		<li class="c-context-menu__list-item">
			<i class="c-context-menu__list-item-icon icon__n icon__n--queue_music"></i>
			<span class="c-context-menu__list-item-label">Tarzlar</span>
		</li>
		<li class="c-context-menu__list-item">
			<i class="c-context-menu__list-item-icon icon__n icon__n--receipt"></i>
			<span class="c-context-menu__list-item-label">Ön Tanımlı Notlar</span>
		</li>
		<li class="c-context-menu__list-item">
			<i class="c-context-menu__list-item-icon icon__n icon__n--timeline"></i>
			<span class="c-context-menu__list-item-label">Lorem Ipsum Sit Amet</span>
		</li>
		</ul>

		<div class="c-context-menu__seperator"></div>

		<ul class="c-context-menu__list c-context-menu__list--aside">
		<li class="c-context-menu__list-item">
			<span class="c-context-menu__list-item-label">Sponsorlar</span>
		</li>
		<li class="c-context-menu__list-item">
			<span class="c-context-menu__list-item-label">Kategoriler</span>
		</li>
		<li class="c-context-menu__list-item">
			<span class="c-context-menu__list-item-label">Tarzlar</span>
		</li>
		</ul>

	</div>
</div>
