<div class="container theme-venues">
    <app-cover-image>
        <div class="o-cover-image-tab-bar">
            <app-tab-bar [tabs]="tabs">
                <ul class="nav nav-tabs c-tab-bar c-tab-bar__white">
                    <li *ngFor="let tab of tabs" class="nav-item c-tab-bar__item" [class.c-tab-bar__item__link--active]="tab.isActive">
                        <a class="nav-link c-tab-bar__item__link" href="{{ tab.route }}">{{ tab.text }}</a>
                    </li>
                </ul>
            </app-tab-bar>
        </div>
        <div class="o-cover-image__button">
            <button class="btn btn-danger btn-md">MEKAN BİLGİLERİNİ DÜZENLE</button>
        </div>
    </app-cover-image>
    <!-- end c-cover-image -->

    <div class="o-collapsible-container">
        <div class="o-collapsible-container__content">
            <h2>Etkinlikler</h2>
            <router-outlet></router-outlet>

            <!-- /.o-list-view -->
        </div>
        <!-- /.o-collapsible-container__content -->
        <app-collapsible-sidebar>
            <app-narrow-index></app-narrow-index>
        </app-collapsible-sidebar>
        <!-- /.o-collapsible-container__aside -->
    </div>
    <!-- /.o-collapsible-container -->

</div>