/* --------------------------------------------------------
version: 1.0
author: Abdullah Karadeniz
----------------------------------------------------------*/

/***
* Dialog Box Component:
*/

/**
* Dailog Box:
* `.c-dialog-box - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque repellat autem deleniti odit repellendus temporibus placeat ipsa similique, neces
*
*     @example
*			
*/


// Set defaults

$c-dialog-box: (
    header: (
        width: 100%,
        padding: 2.35em,
        margin: 0,
        border-color: #dcdce5,

        title: (
            color: #392d38,
            size: 20px
        ),

        actions: (
            color: #bdbdbd,
            size: 24px,
            active-color: #392d38
        )
    ),

    body: (
        width: 100%,
        padding: 2.35em,
        margin: 0,
        border-color: #dcdce5,
    ),

    footer: (
        width: 100%,
        height: 70px,
        padding: 0,
        margin: 0,
        background-color: #35383d,

        button: (
            background-color: #21242b,
            color: #ffffff
        )
    )
);

// Merge settings and defaults
$c-dialog-box: map-merge($c-dialog-box, getSettingsMap("c-dialog-box"));

// Set shortcuts
$c-map: $c-dialog-box;

.c-dialog-box {

    &__header {
        display: block;
        
        &--border {
            border-bottom:1px solid map-deep-get($c-map, header, border-color);
        }

        &-bar {
            display: table;
            position: relative;
            width: map-deep-get($c-map, header, width);
            margin: map-deep-get($c-map, header, margin);
            padding-top: map-deep-get($c-map, header, padding);
            padding-left: map-deep-get($c-map, header, padding);
            padding-right: map-deep-get($c-map, header, padding);
            padding-bottom: map-deep-get($c-map, header, padding)*0.75;
        }
        
        
        &-title {
            display: table-cell;
            vertical-align:top;
            width: 100%;
            @include ffamily("regular");
            font-size: map-deep-get($c-map, header, title, size);
            color: map-deep-get($c-map, header, title, color);
        }

        &-actions {
            display: table-cell;
            ertical-align: top;
            >a {
                font-size: map-deep-get($c-map, header, actions, size);
                color: map-deep-get($c-map, header, actions, color);
                &:hover, &:focus, &:active {color: map-deep-get($c-map, header, actions, active-color);}
            }
        }

        &-sticky-contents {
            display: block;
        }
    }

    &__body {
        display: block;
        position: relative;
        padding-left: map-deep-get($c-map, body, padding);
        padding-right: map-deep-get($c-map, body, padding);
        overflow-y: auto;

        &-row {
            display: block;
            position: relative;
            padding-bottom: map-deep-get($c-map, body, padding);

            &:last-child {
                padding-bottom: 0px;
                margin-bottom: 0px;
            }

            &--seperator {
                height: 1px;
                padding-bottom: 0px !important;
                border-bottom:1px solid map-deep-get($c-map, body, border-color);
                margin-bottom: map-deep-get($c-map, body, padding);
            }

            &--space {
                height: 0px;
                margin-bottom: map-deep-get($c-map, body, padding);
            }
        }
    }

    &__footer {
        display: inline-block;
        position: relative;
        width: map-deep-get($c-map, footer, width);
        height: map-deep-get($c-map, footer, height);
        margin: map-deep-get($c-map, footer, margin);
        padding: map-deep-get($c-map, footer, padding);
        background-color: map-deep-get($c-map, footer, background-color);
        text-align: center;
        
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        button {
            background-color: map-deep-get($c-map, footer, button, background-color);
            color: map-deep-get($c-map, footer, button, color);
            border-radius: 2em;
            padding: 1em 2.5em;
            outline: none;

            &:focus, &:hover, &.active, &:active {
                outline: none;
                &:focus { outline: none; }
            }
            &:hover{
                background-color: darken(map-deep-get($c-map, footer, button, background-color), 100);
            }
            &:active{
                background-color: map-deep-get($c-map, footer, button, background-color);
            }
        }
    }
}

//Reset
$c-map: null;