<h1 class="c-header__title">{{title}}</h1>
<ul class="c-header__tools">
	<li class="c-header__tools-item" (click)="openHeaderSearchBar($event)"> <i class="icon__n icon__n--search"></i>
	</li>
	<li class="c-header__tools-item" (click)="openHelpDrawer()"> <i class="icon__n icon__n--help_outline"></i>
	</li>
	<li class="c-header__tools-item c-header__tools-item--active" (click)="openNotificationModal()">
		<i class="icon__n icon__n--notifications"></i>
		<span class="tag-pill tag-danger">3</span>
	</li>
</ul>
<span class="c-header__user" (click)="showUserDetail($event)">
	<span class="c-header__user-name">
		Merhaba <b>Altuğ</b>
	</span>
	<span class="c-header__user-avatar">
		<app-avatar photoUrl='http://lorempixel.com/240/175/people/9'></app-avatar>
	</span>
	<span class="c-header__user-action-button" (click)="openActionMenu($event)">
		<i class="icon__n icon__n--more_vert"></i>
	</span>
</span>
<span class="c-header__logo">
	<img src="../../assets/images/logo/pozitif.png"/>
</span>