<div class="c-header-search-bar">

  <div class="c-header-search-bar__header">
    <div class="c-header-search-bar__header-title">ARAYIN</div>
    <div class="c-header-search-bar__close-btn" (click)="tetherService.dismiss()"> <i class="icon__n icon__n--close"></i>
    </div>
  </div>

  <div class="c-header-search-bar__content">
    <app-typeahead></app-typeahead>
  </div>

  <div class="c-header-search-bar__footer">
    <div class="c-header-search-bar__more-btn" (click)="submit()">
      <div class="c-promise-icon">
        <div class="c-promise-icon__before">
          <span>DAHA FAZLA SONUÇ GÖSTER</span>
        </div>
        <div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
          <div class="c-promise-icon__spinner-blade"></div>
        </div>
      </div>
    </div>
  </div>

</div>