<app-tab-bar [tabs]="tabs" class="o-tab">
    <div class="o-tab__nav">
        <ul class="nav nav-tabs c-tab-bar">
            <li *ngFor="let tab of tabs" class="nav-item c-tab-bar__item" [class.c-tab-bar__item__link--active]="tab.isActive">
                <a class="nav-link c-tab-bar__item__link" href="{{ tab.route }}">{{ tab.text }}</a>
            </li>
        </ul>
    </div>
    <div class="o-tab__button">
        <button class="btn btn-primary btn-md" (click)="openNewActivityDrawer($event)">YENİ ETKİNLİ OLUŞTUR</button>
    </div>
</app-tab-bar>
<div class="row o-search-filter">
    <!-- Inline Search Starts -->
    <div class="col-xs-5">
        <app-inline-search-input>
			<div class="c-inline-search-input">
				<div class="input-group">
					<div class="c-inline-search-input__icon">
						<div class="c-promise-icon c-promise-icon--autosize">
							<div class="c-promise-icon__before">
								<i class="icon__n icon__n--search"></i>
							</div>
							<div class="c-promise-icon__spinner c-promise-icon__spinner">
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
								<div class="c-promise-icon__spinner-blade"></div>
							</div>
						</div>
					</div>
					<input type="text" class="form-control" placeholder="Etkinlikler Arasında Arayın" aria-describedby="basic-addon1">
				</div>
			</div>
        </app-inline-search-input>
        <!-- Inline Search Ends -->
    </div>
    <div class="col-xs-7 text-xs-center">
        <app-pill-group [pills]="pills"> </app-pill-group>
    </div>
    <div class="col-xs-1 text-xs-right float-xs-right">
        <app-sort-view [activeView]="activeView"></app-sort-view>
    </div>
    <div class="col-xs-2 float-xs-right">
        <app-selectbox></app-selectbox>
    </div>


    <!-- Selet Box Ends-->
</div>
<router-outlet></router-outlet>