<div class="c-profile-photo__container">
	<input name="avatarPhoto" type="file" style="display:none" #avatarPhotoInput>
	<div *ngIf="!isEmpty" class="c-profile-photo__wrap">
		<div class="c-profile-photo__action-content">
			<a href="#" class="action-icons" (click)="addNewPhoto()"> <i class="icon__n icon__n--edit"></i>
			</a>
			<a href="#" class="action-icons action-icons-right" (click)="removePhoto()"> <i class="icon__n icon__n--close"></i>
			</a>
		</div>
		<!--end action-content-->
		<app-avatar [source]="source"></app-avatar>
		<span class="c-profile-photo__mask-img" [style.background-image]="'url( source )'"></span>
	</div>
	<div *ngIf="isEmpty" class="c-profile-photo__empty-photo" (click)="addNewPhoto()">
		<i class="c-profile-photo__empty-icon icon__n icon__n--add_a_photo"></i>
		<small>Profil Fotoğrafı Yükle</small>
	</div>

</div>
<small class="c-profile-photo__helper-text">
	<i class="c-profile-photo__helper-icon icon__n icon__n--info_outline"></i>
	<span>
		En az 1024x768 px çözünürlüklerde bir görsel yüklemeniz önerilir.  MAX. 10 MB
	</span>
</small>