<div class="c-promise-icon__container">
	<i class="icon__n icon__n--{{iconName}}"></i>
</div>
<div class="c-promise-icon__spinner c-promise-icon__spinner">
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
	<div class="c-promise-icon__spinner-blade"></div>
</div>
