<div class="row o-search-filter">
    <!-- Inline Search Starts -->
    <div class="col-xs-5">
        <app-inline-search-input></app-inline-search-input>
        <!-- Inline Search Ends -->
    </div>
    <div class="col-xs-7 text-xs-center">
        <app-pill-group [pills]="pills"> </app-pill-group>
    </div>
    <div class="col-xs-2 float-xs-right">
        <div class="o-tab__button float-xs-right">
            <button class="btn btn-primary btn-md" (click)="openNewActivityDrawer($event)">YENİ MEKAN OLUŞTUR</button>
        </div>
    </div>
    <!-- Selet Box Ends-->
</div>
<router-outlet></router-outlet>