<div class="row o-search-filter">
	<!-- Inline Search Starts -->
	<div class="col-xs-5">
		<app-inline-search-input></app-inline-search-input>
		<!-- Inline Search Ends -->
	</div>
	<div class="col-xs-7 text-xs-center">
	    <app-pill-group [pills]="pills"> </app-pill-group>
	</div>
	<div class="col-xs-1 text-xs-right float-xs-right">
		<app-sort-view [activeView] ="activeView"></app-sort-view>
	</div>	
	<div class="col-xs-2 float-xs-right">
	    <app-selectbox></app-selectbox>
	</div>
	<!-- Selet Box Ends-->
</div>

<div class="o-list-view">
	<div class="o-list-view__content">
		<app-responsive-table></app-responsive-table>
	</div>

	<div class="o-list-view__footer">
		<div class="container-fluid">
			<div class="col-xs-1">
			<app-selectbox [options]="options" (selectBoxOnSelectAction)="selectBoxOnSelectAction($event)"></app-selectbox>
			</div>
			<div class="col-xs-14 text-xs-center">
				<app-pagination [totalItem]="88" [showItemPerPage]="10" [currentPage]="page" (transistPage)="transistPage($event)"></app-pagination>
			</div>
			<div class="col-xs-1"></div>
		</div>

	</div>

</div>