<div class="c-typeahead">
	<div class="c-typeahead__search-box">
		<!-- Inline Search Input -->
		<app-inline-search-input></app-inline-search-input>

	</div>
	<div class="c-typeahead__result-box">
		<div class="c-typeahead__result-group">
			<div class="c-typeahead__result-group-title">ETKİNLİKLER</div>
			<ul class="c-typeahead__result-list">
				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-icon"> <i class="icon__n icon__n--insert_invitation"></i>
					</span>
					<span class="c-typeahead__result-list-item-content">
						<span class="c-typeahead__result-list-item-content--primary">Akbank Caz Festivali: Imany</span>
						<span class="c-typeahead__result-list-item-content--secondary">
							<i>(21 Ekim 2016 Cuma Saat 22:00, <b>Volkswagen Arena</b>
								)</i>
						</span>
					</span>
				</li>

				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-icon">
						<i class="icon__n icon__n--insert_invitation"></i>
					</span>
					<span class="c-typeahead__result-list-item-content">
						<span class="c-typeahead__result-list-item-content--primary">
							Primary content modifier'ı ile hızlıca başlık oluşturulabilir.
						</span>
						<span class="c-typeahead__result-list-item-content--secondary">
							Secondary content ve primary content varsayılan font, renk ve font büyüklüğünü stillendirir.
							<i>Arama sonuçlarına istenirse primary ve secondary content kullanmadan da veri basılabilir. Bu modifierlar varsayılan stilleri hızlıca kullanmak için eklenmiştir. <b>Author: Abdullah</b></i>
						</span>
					</span>
				</li>

				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-icon">
						<i class="icon__n icon__n--insert_invitation"></i>
					</span>
					<span class="c-typeahead__result-list-item-content">
						Primary ve secondary modifier'ları tanımlanmadan ve hiç bir stillendirme yapılmadan gelen veri bu şekilde görüntülenir.
					</span>
				</li>

				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-content">
						<span class="c-typeahead__result-list-item-content--primary">İkonu olmayan bir satır örneği</span>
						<span class="c-typeahead__result-list-item-content--secondary">Burada primary ve secondary modifier'ları kullanılmıştır.</span>
					</span>
				</li>

				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-content">
						İcon ve modifier kullanılmayan ve hiçbir stillendirme yapılmamış satır örneği.
					</span>
				</li>

			</ul>
		</div>

		<div class="c-typeahead__result-group">
			<div class="c-typeahead__result-group-title">SANATÇILAR</div>
			<ul class="c-typeahead__result-list">
				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-icon">
						<i class="icon__n icon__n--person"></i>
					</span>
					<span class="c-typeahead__result-list-item-content">
						<span class="c-typeahead__result-list-item-content--primary">Cazyapjazz</span>
					</span>
				</li>

				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-icon">
						<i class="icon__n icon__n--people"></i>
					</span>
					<span class="c-typeahead__result-list-item-content">
						<span class="c-typeahead__result-list-item-content--primary">Anathema</span>
					</span>
				</li>
			</ul>
		</div>

		<div class="c-typeahead__result-group">
			<div class="c-typeahead__result-group-title">SANATÇILAR</div>
			<ul class="c-typeahead__result-list">
				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-icon">
						<i class="icon__n icon__n--person"></i>
					</span>
					<span class="c-typeahead__result-list-item-content">
						<span class="c-typeahead__result-list-item-content--primary">Cazyapjazz</span>
					</span>
				</li>

				<li class="c-typeahead__result-list-item">
					<span class="c-typeahead__result-list-item-icon">
						<i class="icon__n icon__n--people"></i>
					</span>
					<span class="c-typeahead__result-list-item-content">
						<span class="c-typeahead__result-list-item-content--primary">Anathema</span>
					</span>
				</li>
			</ul>
		</div>

	</div>
</div>