<span class="c-header-inline-edit c-header-inline-edit--editable c-header-inline-edit--processing">
	<span class="c-header-inline-edit__breadcrumb-text">Primary</span>
	<span class="c-header-inline-edit__breadcrumb-text">Secondary</span>
	<span class="c-header-inline-edit__inline-text">
		Text
		<a href="#" class="c-header-inline-edit__edit-button"> <i class="icon__n icon__n--edit"></i>
		</a>
	</span>
	<span class="c-header-inline-edit__input">
		<input type="text" placeholder="Text" value="Filled Text"></span>
	<a href="#" class="c-header-inline-edit__return"> <i class="icon__n icon__n--keyboard_return"></i>
	</a>
	<div class="c-promise-icon__spinner c-promise-icon__spinner--md">
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
		<div class="c-promise-icon__spinner-blade"></div>
	</div>
</span>