		<div class="c-multi-select-group">
				
			<ul class="c-multi-select-group__container">
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--audiotrack"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item--name">Müzisyen</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--movie"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item--name">Oyuncu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item">
					<a href="#">
						<div class="c-multi-select-group__item__icon">	
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--directions_run"></i>
								</div>
								<div class="c-promise-icon__spinner c-promise-icon__spinner--sm">
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
									<div class="c-promise-icon__spinner-blade"></div>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item--name">Sporcu</span>
					</a>
				</li>
				<li class="c-multi-select-group__item c-multi-select-group__item--other">
					<a href="#">
						<div class="c-multi-select-group__item__icon">
							<div class="c-promise-icon c-promise-icon--md">
								<div class="c-promise-icon__before">
									<i class="icon__n icon__n--more_horiz" (click)="openMultiSelectMenu($event)"></i>
								</div>
							</div>
						</div>
						<span class="c-multi-select-group__item--name">Diğer (6)</span>
					</a>

					<div class="c-context-menu-selectable">

						<div class="c-context-menu-selectable__header">
							<div class="c-context-menu-selectable__header-title">
								DİĞER İÇERİKLER
							</div>
							<i class="c-context-menu-selectable__close-button icon--m">close</i>
						</div>

						<div class="c-context-menu-selectable__content">

							<ul class="c-context-menu-selectable__list">
								<li class="c-context-menu-selectable__list-item">
									<i class="c-context-menu-selectable__list-item-icon icon__n icon__n--insert_comment"></i>
									<span class="c-context-menu-selectable__list-item-label">Konuşmacı</span>
									<i class="c-context-menu-selectable__list-item-control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-context-menu-selectable__list-item">
									<i class="c-context-menu-selectable__list-item-icon icon__n icon__n--room_service"></i>
									<span class="c-context-menu-selectable__list-item-label">Şef</span>
									<i class="c-context-menu-selectable__list-item-control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-context-menu-selectable__list-item">
									<i class="c-context-menu-selectable__list-item-icon icon__n icon__n--color_lens"></i>
									<span class="c-context-menu-selectable__list-item-label">Ressam</span>
									<i class="c-context-menu-selectable__list-item-control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-context-menu-selectable__list-item">
									<i class="c-context-menu-selectable__list-item-icon icon__n icon__n--camera"></i>
									<span class="c-context-menu-selectable__list-item-label">Fotoğraf Sanatçısı</span>
									<i class="c-context-menu-selectable__list-item-control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-context-menu-selectable__list-item c-context-menu-selectable__list-item--added">
									<i class="c-context-menu-selectable__list-item-icon icon__n icon__n--school"></i>
									<span class="c-context-menu-selectable__list-item-label">Akademisyen</span>
									<i class="c-context-menu-selectable__list-item-control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
								<li class="c-context-menu-selectable__list-item">
									<i class="c-context-menu-selectable__list-item-icon icon__n icon__n--format_align_center"></i>
									<span class="c-context-menu-selectable__list-item-label">Yazar</span>
									<i class="c-context-menu-selectable__list-item-control">
										<i class="icon__n icon__n--add"></i>
										<i class="icon__n icon__n--check"></i>
										<i class="icon__n icon__n--remove"></i>
									</i>
								</li>
							</ul>

						</div>
						
					</div>
					<!--end c-context-menu-selectable-->

				</li>
			</ul>

		</div>