<div class="c-narrow-index">
	<div class="c-expr-list-pager">
		<a href="#" class="icon__n icon__n--keyboard_arrow_left"></a> <strong>EKİM 2016</strong>
		<a href="#" class="icon__n icon__n--keyboard_arrow_right"></a>
	</div>

	<ul class="c-narrow-index-list">

		<li class="c-narrow-index-list__item">
			<a href="#" title="">
				<span class="c-avatar c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/90/90/people/9" alt=""></figure>
				</span>
				<span class="c-narrow-index-list__item__content"> <strong>Gaye Su Akyol Konseri</strong>
					<time datetime="2016-09-15 16:00">12 Ekim</time>
				</span>
			</a>
		</li>

		<li class="c-narrow-index-list__item">
			<a href="#">
				<span class="c-avatar c-avatar--sm c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/90/90/people/1" alt=""></figure>
				</span>
				<span class="c-narrow-index-list__item__content">
					<strong>Kraak &amp; Smaak Live. Powered by Lenovo</strong>
					<time datetime="2016-09-15 16:00">15 Ekim</time>
				</span>
			</a>
		</li>

		<li class="c-narrow-index-list__item">
			<a href="#">
				<span class="c-avatar c-avatar--sm c-avatar--circle">
					<figure>
						<img src="http://lorempixel.com/90/90/people/6" alt=""></figure>
				</span>
				<span class="c-narrow-index-list__item__content">
					<strong>Fujiya &amp; Miyagi</strong>
					<time datetime="2016-09-15 16:00">21 Ekim</time>
				</span>
			</a>
		</li>

	</ul>
	<!--end narrow-index-list-->

</div>
<!--end c-narrow-index-->