.o-cover-image__button {
  float: right;
}

.o-cover-image__button {
  position: absolute;
  top: 30px;
  right: 30px;
  .btn-secondary {
    background-color: #ec4e48;
    border-color: #ec4e48;
  }
}

.o-cover-image-tab-bar {
  position: relative;
  bottom: 0;
}