<ul class="c-inline-icon-group">
	<li *ngIf="performer.FacebookUrl">
		<a href="{{performer.FacebookUrl}}"><img src="../assets/images/temp/other.png" alt=""></a>
	<li>
	<li *ngIf="performer.SpotifyUrl">
		<a href="{{performer.SpotifyUrl}}"><img src="../assets/images/temp/spotify.png" alt=""></a>
	<li>
	<li *ngIf="performer.LastfmUrl">
		<a href="{{performer.LastfmUrl}}"><img src="../assets/images/temp/lastfm.png" alt=""></a>
	<li>
	<li> <i class="c-inline-icon-group__more icon--m">more_horiz</i>
	</li>
</ul>